<h3><i class="fas fa-fire-alt"></i> BONDfyr </h3>
<div class="section">
    <p class="lead">Bro I don't even know what BONDfyr is yet...</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>